<h1>New Entry for <%= @place["name"] %></h1>

<form action="/entries" method="post">
  <p>
    <label for="title">Title</label>
    <input type="text" name="title" id="title">
  </p>
  <p>
    <label for="description">Description</label>
    <input type="text" name="description" id="description">
  </p>
    <p>
    <label for="occurred_on">Date</label>
    <input type="text" name="occurred_on" id="occurred_on">
  </p>

  <input type="hidden" name="place_id" id="place_id" value="<%= params["place_id"] %>">

  <button>Submit</button>
  <a href="/places/<%= @place["id"] %>">Cancel</a>
</form>
